/*WE APPLY THE MOBILE FIRST APPROACH 
All the below CSS styles are applied to small devices
On small devices: hide the horizontal navbar
*/

/*Remove all default CSS styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-------------------------------------*/
/*Define styles for navbar*/
nav {
  min-height: 7vh;
  background-color: rgb(246, 65, 65);
  justify-content: space-between;
  top: 0;
  position: sticky;
  overflow: visible;
  display: flex;
  align-items: center;
}

.horizontal-nav {
  /*Centralize this navbar*/
  display: none; /*Hide this navbar on small devices*/
  justify-content: right;
  align-items: center;
}

nav ul {
  list-style-type: none; /*Remove all default styles*/
  margin: 0;
  padding: 0;
  overflow: visible;

  /*Centralize this navbar*/
  display: inline-block;
  z-index: 1;
}

nav ul li {
  display: inline-block; /*Items are displayed on the same row*/
  font-size: 18px;

  /*Set position property to relative */
  position: relative;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none; /*Remove all default styles*/
  padding: 14px 16px;
}

.active {
  background-color: green;
}

/*Add hover over effect on the li*/
nav ul li a:hover:not(.active) {
  background-color: rgb(81, 239, 8);
}

/*Define styles for the dropdown submenu*/
.dropdown {
  background-color: rgb(243, 64, 64);
  visibility: hidden; /* When openning the webpage, hide this dropdown*/
  opacity: 0;
  position: absolute;
  transition: all 1s ease; /*Add animation transition to this dropdown menu*/
  left: 0;
  display: none; /*Not show this section yet*/
}

/*When users hover over the item, show the dropdown menu*/
nav ul li:hover > ul {
  visibility: visible; /*show this dropdown menu*/
  display: block;
  opacity: 1;
  z-index: 1;
}

.dropdown li {
  width: 100%;
}

/*Define style for the sandwich icon*/
.sandwich-icon-area {
  font-size: 2em; /*1em=16px => 32px = 2em*/
  float: none;
  cursor: pointer;
  display: flex;
  align-items: left;
}

.weblogo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
  display: inline-block;
}

/*Define styles for the curtain menu layer*/
.overlay {
  height: 70%;
  width: 40%;
  display: none; /*block: show; none: hide*/
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1; /*Make this layer sit on top of other layer*/
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 32px;
}

.overlay a {
  padding: 8px;
  text-decoration: none; /*remove all default styles*/
  font-size: 2em; /*1em=16px => 2em = 32px*/
  color: white;
  display: block;
}

.close-icon {
  position: absolute;
  top: 1em;
  right: 1.5em; /*1.5em = 1.5*16px = 24px */
  font-size: 4em;
  color: red;
}

/*Add hover effect to the hyperlinks */
.overlay a:hover,
.overlay a:focus {
  color: green;
}

/*------------------------------------*/
header {
  min-height: 7vh;
  background-size: cover;

  /*Centralize the text*/
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: black;
  font-size: 22px;
  align-items: center;
  text-align: center;
}

body {
  display: block;
  justify-content: center;
  min-height: 85vh;
}

body h2 {
  color: green;
  text-align: center;
}

.mainArea {
  display: block;
}

.AboutUsStory {
  margin: auto;
  margin-top: 10px;
  justify-items: center;
  padding: 30px 20px;
  text-align: center;
}

.AboutUsStory img {
  display: block;
  height: auto;
  border-radius: 20%;
  height: auto;
}

.AboutUsStory p {
  font-size: 22px;
}

.mainArea h2 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}

.MainPlayersContainer {
  padding: 10px;
  display: block;
}

.PlayersContainer {
  margin: 10px;
  display: block;
}

.PlayersContainer h2 {
  text-align: center;
}

/*------------------------------------*/
/*Define for Main*/
main {
  min-height: 85vh;
  background-color: white;
  overflow-y: hidden;

  z-index: 0;
  padding: 10px;
}

.AboutUsContainer {
  display: block;
  position: static;
}

.AboutUsStory {
  position: static;
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
  display: block;
}

.AboutUsContainer .btn {
  border: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}

.trophiesContainer {
  display: block;
  justify-content: center;
  height: 85vh;
  align-items: center;
}

img {
  height: 500px;
  width: 500px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: flex;
}

.row {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20;
  padding: 10px;
}

.row .heading {
  display: inline-block;
  position: relative;
}

.embedClip {
  width: 505px;
  align-items: center;
  margin: auto;
}
.mailingList {
  text-align: center;
  background-color: white;
  padding: 20px;
  box-shadow: green;
}

input {
  padding: 10px;
  margin: 10px;
  width: 80%;
}

button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border: 35%;
}

button:hover {
  background-color: green;
}

.liverpoolHistory {
  margin: 15px;
  border: 5px solid red;
}

.liverpoolHistory h3 {
  text-align: center;
}

.liverpoolHistory p {
  font-size: large;
  margin: 10px;
}

.liverpoolHistory li {
  font-size: large;
  margin: 10px;
  text-align: center;
}

footer {
  background-color: green;
  min-height: 10vh;
  display: flex;
  justify-content: flex;
  align-items: center;
}

.footerContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-icons {
  display: flex;
  padding: 10px;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 2px;
  border-radius: 35%;
}

.social-icons a i {
  font-size: 2em;
  color: red;
  opacity: 0.9;
}

/*I will add the hover effect to my icons on the footer*/

.social-icons a:hover i {
  color: white;
  transition: 0.3s;
}

.footerBottom {
  display: none;
  margin-left: 300px;
}

.footerBottom P {
  text-align: center;
  color: white;
  font-size: 22px;
}

.designer {
  font-family: URW Chancery L, cursive;
  text-align: center;
}

.subsButton {
  text-align: right;
  font-size: 22px;
  color: white;
}

.subsButton P {
  font-size: 22px;
  color: white;
}

/*All the below CSS styles will be applied for medium devices
We will use media query CSS
*/
@media screen and (min-width: 426px) {
  /*All styles here are for medium devices*/
  /*change main area background to red */
  main {
    background-color: white;
  }

  .column {
    display: inline-block;
  }
}

/*All the below CSS styles will be applied for big devices */
@media screen and (min-width: 769px) {
  /*All styles here are for big devices*/
  /*Show the horizontal navbar*/
  .horizontal-nav {
    display: flex;
    background-color: rgb(51, 97, 80);
    z-index: 2;
  }

  .sandwich-icon-area {
    float: left;
  }

  main {
    background-color: white;
  }

  #movieList {
    flex-direction: row;
    flex-flow: row wrap;
  }
  .movie-card {
    width: 30%;
  }

  .row {
    display: flex;
  }

  .MainPlayersContainer .mainArea h2 {
    display: flex;
  }

  .mainArea .AboutUsContainer {
    display: flex;
  }

  .webInfo {
    display: flex;
  }

  .footerBottom {
    display: flex;
  }
}
